# Explore here

In [57]:
# Import required libraries
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import seaborn as sns

In [58]:
# Load data in pandas dataframes
movies_df = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv', sep=',')
credits_df = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_credits.csv', sep=',')

In [59]:
# Gain first insights into the data
print('ðŸ”¹ Movie data')
print(movies_df.head())
print(movies_df.info())
print(movies_df.describe())

print('ðŸ”¹ Credits data')
print(credits_df.head())
print(credits_df.info())
print(credits_df.describe())

ðŸ”¹ Movie data
      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bondâ€™s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3  [{"name": "Legendary Pictures", "id": 923}, {"...
4        [{"name": "Walt Disney Pictures", "id": 2}]

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000
2  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609
3  [{"iso_3166_1": "US", "name": "United States o...   2012-07-16  1084939099
4  [{"iso_3166_1": "US", "name": "United States o...   2012-03-07   284139100

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3    165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4    132.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                               John Carter           6.1        2124
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB
None
             budget             id   popularity       revenue      runtime  \
count  4.803000e+03    4803.000000  4803.000000  4.803000e+03  4801.000000
mean   2.904504e+07   57165.484281    21.492301  8.226064e+07   106.875859
std    4.072239e+07   88694.614033    31.816650  1.628571e+08    22.611935
min    0.000000e+00       5.000000     0.000000  0.000000e+00     0.000000
25%    7.900000e+05    9014.500000     4.668070  0.000000e+00    94.000000
50%    1.500000e+07   14629.000000    12.921594  1.917000e+07   103.000000
75%    4.000000e+07   58610.500000    28.313505  9.291719e+07   118.000000
max    3.800000e+08  459488.000000   875.581305  2.787965e+09   338.000000

       vote_average    vote_count
count   4803.000000   4803.000000
mean       6.092172    690.217989
std        1.194612   1234.585891
min        0.000000      0.000000
25%        5.600000     54.000000
50%        6.200000    235.000000
75%        6.800000    737.000000
max       10.000000  13752.000000
ðŸ”¹ Credits data
   movie_id                                     title  \
0     19995                                    Avatar
1       285  Pirates of the Caribbean: At World's End
2    206647                                   Spectre
3     49026                     The Dark Knight Rises
4     49529                               John Carter

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB
None
            movie_id
count    4803.000000
mean    57165.484281
std     88694.614033
min         5.000000
25%      9014.500000
50%     14629.000000
75%     58610.500000
max    459488.000000

In [60]:
# Create SQL database (in sqlite) and create new tables from dataframes

engine = create_engine("sqlite:///my_database.db", echo=True)

movies_df.to_sql('movies', con=engine, if_exists='replace', index=False)
credits_df.to_sql('credits', con=engine, if_exists='replace', index=False)

query = """
SELECT movies.title, movies.overview, movies.genres, movies.keywords, credits.movie_id, credits.cast, credits.crew  FROM movies
INNER JOIN credits ON movies.title = credits.title
"""

joined_table = pd.read_sql(query, con=engine)
print(joined_table.head())

# joined_table.to_sql('joined_data', con=engine, if_exists='replace', index=False)
# print('ðŸ”¹ Visualize joined table')
# print(pd.read_sql('SELECT * FROM joined_data LIMIT 5', con=engine))

2025-02-24 14:35:33,613 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-24 14:35:33,619 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("movies")
2025-02-24 14:35:33,619 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:33,626 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("movies")
2025-02-24 14:35:33,627 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:33,628 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-02-24 14:35:33,629 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:33,630 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-02-24 14:35:33,630 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:33,631 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("movies")
2025-02-24 14:35:33,631 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:33,633 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-02-24 14:35:33,633 INFO sqlalchemy.engine.Engine [raw sql] ('movies',)
2025-02-24 14:35:33,634 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("movies")
2025-02-24 14:35:33,635 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:33,636 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("movies")
2025-02-24 14:35:33,637 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:33,638 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-02-24 14:35:33,638 INFO sqlalchemy.engine.Engine [raw sql] ('movies',)
2025-02-24 14:35:33,639 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("movies")
2025-02-24 14:35:33,639 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:33,640 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("movies")
2025-02-24 14:35:33,641 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:33,642 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("movies")
2025-02-24 14:35:33,642 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:33,643 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("movies")
2025-02-24 14:35:33,644 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:33,644 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("movies")
2025-02-24 14:35:33,645 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:33,646 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("movies")
2025-02-24 14:35:33,646 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:33,647 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-02-24 14:35:33,648 INFO sqlalchemy.engine.Engine [raw sql] ('movies',)
2025-02-24 14:35:33,650 INFO sqlalchemy.engine.Engine
DROP TABLE movies
2025-02-24 14:35:33,651 INFO sqlalchemy.engine.Engine [no key 0.00043s] ()
2025-02-24 14:35:33,841 INFO sqlalchemy.engine.Engine
CREATE TABLE movies (
	budget BIGINT,
	genres TEXT,
	homepage TEXT,
	id BIGINT,
	keywords TEXT,
	original_language TEXT,
	original_title TEXT,
	overview TEXT,
	popularity FLOAT,
	production_companies TEXT,
	production_countries TEXT,
	release_date TEXT,
	revenue BIGINT,
	runtime FLOAT,
	spoken_languages TEXT,
	status TEXT,
	tagline TEXT,
	title TEXT,
	vote_average FLOAT,
	vote_count BIGINT
)


2025-02-24 14:35:33,842 INFO sqlalchemy.engine.Engine [no key 0.00115s] ()
2025-02-24 14:35:33,925 INFO sqlalchemy.engine.Engine INSERT INTO movies (budget, genres, homepage, id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-02-24 14:35:33,926 INFO sqlalchemy.engine.Engine [generated in 0.05932s] [(237000000, '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]', 'http://www.avatarmovie.com/', 19995, '[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id ... (437 characters truncated) ... {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]', 'en', 'Avatar', 'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.', 150.437577, '[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]', '[{"iso_3166_1": "US", "name": "United States of America"}, {"iso_3166_1": "GB", "name": "United Kingdom"}]', '2009-12-10', 2787965087, 162.0, '[{"iso_639_1": "en", "name": "English"}, {"iso_639_1": "es", "name": "Espa\\u00f1ol"}]', 'Released', 'Enter the World of Pandora.', 'Avatar', 7.2, 11800), (300000000, '[{"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 28, "name": "Action"}]', 'http://disney.go.com/disneypictures/pirates/', 285, '[{"id": 270, "name": "ocean"}, {"id": 726, "name": "drug abuse"}, {"id": 911, "name": "exotic island"}, {"id": 1319, "name": "east india trading comp ... (293 characters truncated) ... d": 6211, "name": "fighter"}, {"id": 12988, "name": "pirate"}, {"id": 157186, "name": "swashbuckler"}, {"id": 179430, "name": "aftercreditsstinger"}]', 'en', "Pirates of the Caribbean: At World's End", 'Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the Earth with Will Turner and Elizabeth Swann. But nothing is quite as it seems.', 139.082615, '[{"name": "Walt Disney Pictures", "id": 2}, {"name": "Jerry Bruckheimer Films", "id": 130}, {"name": "Second Mate Productions", "id": 19936}]', '[{"iso_3166_1": "US", "name": "United States of America"}]', '2007-05-19', 961000000, 169.0, '[{"iso_639_1": "en", "name": "English"}]', 'Released', 'At the end of the world, the adventure begins.', "Pirates of the Caribbean: At World's End", 6.9, 4500), (245000000, '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 80, "name": "Crime"}]', 'http://www.sonypictures.com/movies/spectre/', 206647, '[{"id": 470, "name": "spy"}, {"id": 818, "name": "based on novel"}, {"id": 4289, "name": "secret agent"}, {"id": 9663, "name": "sequel"}, {"id": 14555, "name": "mi6"}, {"id": 156095, "name": "british secret service"}, {"id": 158431, "name": "united kingdom"}]', 'en', 'Spectre', 'A cryptic message from Bondâ€™s past sends him on a trail to uncover a sinister organization. While M battles political forces to keep the secret service alive, Bond peels back the layers of deceit to reveal the terrible truth behind SPECTRE.', 107.376788, '[{"name": "Columbia Pictures", "id": 5}, {"name": "Danjaq", "id": 10761}, {"name": "B24", "id": 69434}]', '[{"iso_3166_1": "GB", "name": "United Kingdom"}, {"iso_3166_1": "US", "name": "United States of America"}]', '2015-10-26', 880674609, 148.0, '[{"iso_639_1": "fr", "name": "Fran\\u00e7ais"}, {"iso_639_1": "en", "name": "English"}, {"iso_639_1": "es", "name": "Espa\\u00f1ol"}, {"iso_639_1": "it", "name": "Italiano"}, {"iso_639_1": "de", "name": "Deutsch"}]', 'Released', 'A Plan No One Escapes', 'Spectre', 6.3, 4466), (250000000, '[{"id": 28, "name": "Action"}, {"id": 80, "name": "Crime"}, {"id": 18, "name": "Drama"}, {"id": 53, "name": "Thriller"}]', 'http://www.thedarkknightrises.com/', 49026, '[{"id": 849, "name": "dc comics"}, {"id": 853, "name": "crime fighter"}, {"id": 949, "name": "terrorist"}, {"id": 1308, "name": "secret identity"}, { ... (465 characters truncated) ... "}, {"id": 156395, "name": "imax"}, {"id": 173272, "name": "flood"}, {"id": 179093, "name": "criminal underworld"}, {"id": 230775, "name": "batman"}]', 'en', 'The Dark Knight Rises', "Following the death of District Attorney Harvey Dent, Batman assumes responsibility for Dent's crimes to protect the late attorney's reputation and i ... (130 characters truncated) ... e villainous Bane, a new terrorist leader who overwhelms Gotham's finest. The Dark Knight resurfaces to protect a city that has branded him an enemy.", 112.31295, '[{"name": "Legendary Pictures", "id": 923}, {"name": "Warner Bros.", "id": 6194}, {"name": "DC Entertainment", "id": 9993}, {"name": "Syncopy", "id": 9996}]', '[{"iso_3166_1": "US", "name": "United States of America"}]', '2012-07-16', 1084939099, 165.0, '[{"iso_639_1": "en", "name": "English"}]', 'Released', 'The Legend Ends', 'The Dark Knight Rises', 7.6, 9106), (260000000, '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 878, "name": "Science Fiction"}]', 'http://movies.disney.com/john-carter', 49529, '[{"id": 818, "name": "based on novel"}, {"id": 839, "name": "mars"}, {"id": 1456, "name": "medallion"}, {"id": 3801, "name": "space travel"}, {"id":  ... (303 characters truncated) ... 0320, "name": "mars civilization"}, {"id": 195446, "name": "sword and planet"}, {"id": 207928, "name": "19th century"}, {"id": 209714, "name": "3d"}]', 'en', 'John Carter', "John Carter is a war-weary, former military captain who's inexplicably transported to the mysterious and exotic planet of Barsoom (Mars) and reluctan ... (44 characters truncated) ... t's a world on the brink of collapse, and Carter rediscovers his humanity when he realizes the survival of Barsoom and its people rests in his hands.", 43.926995, '[{"name": "Walt Disney Pictures", "id": 2}]', '[{"iso_3166_1": "US", "name": "United States of America"}]', '2012-03-07', 284139100, 132.0, '[{"iso_639_1": "en", "name": "English"}]', 'Released', 'Lost in our world, found in another.', 'John Carter', 6.1, 2124), (258000000, '[{"id": 14, "name": "Fantasy"}, {"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}]', 'http://www.sonypictures.com/movies/spider-man3/', 559, '[{"id": 851, "name": "dual identity"}, {"id": 1453, "name": "amnesia"}, {"id": 1965, "name": "sandstorm"}, {"id": 2038, "name": "love of one\'s life" ... (267 characters truncated) ... ostility"}, {"id": 8828, "name": "marvel comic"}, {"id": 9663, "name": "sequel"}, {"id": 9715, "name": "superhero"}, {"id": 9748, "name": "revenge"}]', 'en', 'Spider-Man 3', 'The seemingly invincible Spider-Man goes up against an all-new crop of villain â€“ including the shape-shifting Sandman. While Spider-Manâ€™s superpowers are altered by an alien organism, his alter ego, Peter Parker, deals with nemesis Eddie Brock and also gets caught up in a love triangle.', 115.699814, '[{"name": "Columbia Pictures", "id": 5}, {"name": "Laura Ziskin Productions", "id": 326}, {"name": "Marvel Enterprises", "id": 19551}]', '[{"iso_3166_1": "US", "name": "United States of America"}]', '2007-05-01', 890871626, 139.0, '[{"iso_639_1": "en", "name": "English"}, {"iso_639_1": "fr", "name": "Fran\\u00e7ais"}]', 'Released', 'The battle within.', 'Spider-Man 3', 5.9, 3576), (260000000, '[{"id": 16, "name": "Animation"}, {"id": 10751, "name": "Family"}]', 'http://disney.go.com/disneypictures/tangled/', 38757, '[{"id": 1562, "name": "hostage"}, {"id": 2343, "name": "magic"}, {"id": 2673, "name": "horse"}, {"id": 3205, "name": "fairy tale"}, {"id": 4344, "nam ... (266 characters truncated) ... d on fairy tale"}, {"id": 179431, "name": "duringcreditsstinger"}, {"id": 215258, "name": "healing gift"}, {"id": 234183, "name": "animal sidekick"}]', 'en', 'Tangled', "When the kingdom's most wanted-and most charming-bandit Flynn Rider hides out in a mysterious tower, he's taken hostage by Rapunzel, a beautiful and  ... (214 characters truncated) ...  the unlikely duo sets off on an action-packed escapade, complete with a super-cop horse, an over-protective chameleon and a gruff gang of pub thugs.", 48.681969, '[{"name": "Walt Disney Pictures", "id": 2}, {"name": "Walt Disney Animation Studios", "id": 6125}]', '[{"iso_3166_1": "US", "name": "United States of America"}]', '2010-11-24', 591794936, 100.0, '[{"iso_639_1": "en", "name": "English"}]', 'Released', "They're taking adventure to new lengths.", 'Tangled', 7.4, 3330), (280000000, '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 878, "name": "Science Fiction"}]', 'http://marvel.com/movies/movie/193/avengers_age_of_ultron', 99861, '[{"id": 8828, "name": "marvel comic"}, {"id": 9663, "name": "sequel"}, {"id": 9715, "name": "superhero"}, {"id": 9717, "name": "based on comic book"} ... (58 characters truncated) ... "superhero team"}, {"id": 179431, "name": "duringcreditsstinger"}, {"id": 180547, "name": "marvel cinematic universe"}, {"id": 209714, "name": "3d"}]', 'en', 'Avengers: Age of Ultron', 'When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earthâ€™s Mightiest Heroes are put to the ultimate test as the fa ... (96 characters truncated) ... s to stop him from enacting his terrible plans, and soon uneasy alliances and unexpected action pave the way for an epic and unique global adventure.', 134.279229, '[{"name": "Marvel Studios", "id": 420}, {"name": "Prime Focus", "id": 15357}, {"name": "Revolution Sun Studios", "id": 76043}]', '[{"iso_3166_1": "US", "name": "United States of America"}]', '2015-04-22', 1405403694, 141.0, '[{"iso_639_1": "en", "name": "English"}]', 'Released', 'A New Age Has Come.', 'Avengers: Age of Ultron', 7.3, 6767)  ... displaying 10 of 4803 total bound parameter sets ...  (0, '[]', 'http://shanghaicalling.com/', 126186, '[]', 'en', 'Shanghai Calling', 'When ambitious New York attorney Sam is sent to Shanghai on assignment, he immediately stumbles into a legal mess that could end his career. With the ... (116 characters truncated) ... l assistant, Sam might just save his job, find romance, and learn to appreciate the beauty and wonders of Shanghai. Written by Anonymous  (IMDB.com).', 0.857008, '[]', '[{"iso_3166_1": "US", "name": "United States of America"}, {"iso_3166_1": "CN", "name": "China"}]', '2012-05-03', 0, 98.0, '[{"iso_639_1": "en", "name": "English"}]', 'Released', 'A New Yorker in Shanghai', 'Shanghai Calling', 5.7, 7), (0, '[{"id": 99, "name": "Documentary"}]', None, 25975, '[{"id": 1523, "name": "obsession"}, {"id": 2249, "name": "camcorder"}, {"id": 9986, "name": "crush"}, {"id": 11223, "name": "dream girl"}]', 'en', 'My Date with Drew', "Ever since the second grade when he first saw her in E.T. The Extraterrestrial, Brian Herzlinger has had a crush on Drew Barrymore. Now, 20 years lat ... (67 characters truncated) ... for a date. There's one small problem: She's Drew Barrymore and he's, well, Brian Herzlinger, a broke 27-year-old aspiring filmmaker from New Jersey.", 1.929883, '[{"name": "rusty bear entertainment", "id": 87986}, {"name": "lucky crow films", "id": 87987}]', '[{"iso_3166_1": "US", "name": "United States of America"}]', '2005-08-05', 0, 90.0, '[{"iso_639_1": "en", "name": "English"}]', 'Released', None, 'My Date with Drew', 6.3, 16)]
2025-02-24 14:35:33,971 INFO sqlalchemy.engine.Engine COMMIT
2025-02-24 14:35:34,020 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-24 14:35:34,022 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("credits")
2025-02-24 14:35:34,023 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:34,024 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("credits")
2025-02-24 14:35:34,025 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:34,026 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-02-24 14:35:34,026 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:34,027 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-02-24 14:35:34,028 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:34,029 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("credits")
2025-02-24 14:35:34,029 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:34,030 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-02-24 14:35:34,031 INFO sqlalchemy.engine.Engine [raw sql] ('credits',)
2025-02-24 14:35:34,032 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("credits")
2025-02-24 14:35:34,032 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:34,033 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("credits")
2025-02-24 14:35:34,034 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:34,034 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-02-24 14:35:34,035 INFO sqlalchemy.engine.Engine [raw sql] ('credits',)
2025-02-24 14:35:34,036 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("credits")
2025-02-24 14:35:34,036 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:34,037 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("credits")
2025-02-24 14:35:34,038 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:34,038 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("credits")
2025-02-24 14:35:34,039 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:34,040 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("credits")
2025-02-24 14:35:34,040 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:34,041 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("credits")
2025-02-24 14:35:34,042 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:34,043 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("credits")
2025-02-24 14:35:34,044 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-24 14:35:34,045 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-02-24 14:35:34,045 INFO sqlalchemy.engine.Engine [raw sql] ('credits',)
2025-02-24 14:35:34,047 INFO sqlalchemy.engine.Engine
DROP TABLE credits
2025-02-24 14:35:34,047 INFO sqlalchemy.engine.Engine [no key 0.00054s] ()
2025-02-24 14:35:34,866 INFO sqlalchemy.engine.Engine
CREATE TABLE credits (
	movie_id BIGINT,
	title TEXT,
	"cast" TEXT,
	crew TEXT
)


2025-02-24 14:35:34,866 INFO sqlalchemy.engine.Engine [no key 0.00063s] ()
2025-02-24 14:35:34,890 INFO sqlalchemy.engine.Engine INSERT INTO credits (movie_id, title, "cast", crew) VALUES (?, ?, ?, ?)

In [61]:
# Handle JSON data
import json

json_cols = ['genres', 'keywords', 'cast', 'crew', 'overview']

for col in json_cols:
    if col == 'cast_id':
        joined_table[col] = joined_table[col].apply(lambda x: [item['name'] for item in json.loads(x)[:3]])
    elif col == 'crew':
        joined_table[col] = joined_table[col].apply(lambda x: [item['name'] for item in json.loads(x)[:3] if item['job'] == 'Director'])
    elif col == 'overview':
        joined_table[col] = joined_table[col].apply(lambda x: [str(x)])
    else:
        joined_table[col] = joined_table[col].apply(lambda x: [item['name'] for item in json.loads(x)])

columns_to_modify = ['genres', 'cast', 'crew', 'keywords']

for col in columns_to_modify:
    joined_table[col] = joined_table[col].apply(lambda x: [i.replace(" ", "") for i in x])

joined_table["tags"] = joined_table["overview"] + joined_table["genres"] + joined_table["keywords"] + joined_table["cast"] + joined_table["crew"]
joined_table["tags"] = joined_table["tags"].apply(lambda x: " ".join(x))

print(joined_table.head())

                                      title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  \
0  [In the 22nd century, a paraplegic Marine is d...
1  [Captain Barbossa, long believed to be dead, h...
2  [A cryptic message from Bondâ€™s past sends him ...
3  [Following the death of District Attorney Harv...
4  [John Carter is a war-weary, former military c...

                                         genres  \
0  [Action, Adventure, Fantasy, ScienceFiction]
1                  [Adventure, Fantasy, Action]
2                    [Action, Adventure, Crime]
3              [Action, Crime, Drama, Thriller]
4           [Action, Adventure, ScienceFiction]

                                            keywords  movie_id  \
0  [cultureclash, future, spacewar, spacecolony, ...     19995
1  [ocean, drugabuse, exoticisland, eastindiatrad...       285
2  [spy, basedonnovel, secretagent, sequel, mi6, ...    206647
3  [dccomics, crimefighter, terrorist, secretiden...     49026
4  [basedonnovel, mars, medallion, spacetravel, p...     49529

                                                cast             crew  \
0  [SamWorthington, ZoeSaldana, SigourneyWeaver, ...               []
1  [JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...  [GoreVerbinski]
2  [DanielCraig, ChristophWaltz, LÃ©aSeydoux, Ralp...      [SamMendes]
3  [ChristianBale, MichaelCaine, GaryOldman, Anne...               []
4  [TaylorKitsch, LynnCollins, SamanthaMorton, Wi...  [AndrewStanton]

                                                tags
0  In the 22nd century, a paraplegic Marine is di...
1  Captain Barbossa, long believed to be dead, ha...
2  A cryptic message from Bondâ€™s past sends him o...
3  Following the death of District Attorney Harve...
4  John Carter is a war-weary, former military ca...

In [62]:
# Vectorize text
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform(joined_table['tags'].tolist())
print(vectors)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 355166 stored elements and shape (4809, 83318)>
  Coords	Values
  (0, 33591)	0.017081940410114
  (0, 76024)	0.0258802624355175
  (0, 233)	0.08878636993234645
  (0, 12542)	0.05778881449173745
  (0, 58679)	0.08672922932221834
  (0, 49611)	0.1441387463986336
  (0, 34346)	0.020295232990740153
  (0, 21037)	0.08096556564019626
  (0, 76938)	0.014359779885050005
  (0, 54558)	0.0697586705572943
  (0, 58590)	0.08348330226645509
  (0, 57846)	0.024243888696560023
  (0, 79166)	0.07018449602027456
  (0, 54076)	0.05033556828927179
  (0, 10905)	0.0285410606248332
  (0, 7232)	0.04446777565596339
  (0, 77784)	0.0693483331345882
  (0, 7946)	0.046614110687642055
  (0, 26809)	0.06258278668151346
  (0, 57991)	0.07372350541302318
  (0, 3478)	0.014672176240037103
  (0, 62102)	0.0771691374267384
  (0, 3365)	0.024445443484103477
  (0, 2462)	0.10844404240054148
  (0, 14673)	0.07890842503006815
  :	:
  (4808, 18399)	0.10486656756414338
  (4808, 10293)	0.1229861777598437
  (4808, 22064)	0.10871301901319101
  (4808, 51126)	0.13674066213033506
  (4808, 26380)	0.11207949620835406
  (4808, 27780)	0.12044051808786231
  (4808, 5789)	0.10933726800716943
  (4808, 19564)	0.12166785096815994
  (4808, 23272)	0.13399843392915045
  (4808, 16913)	0.21742603802638202
  (4808, 5774)	0.1295277334861244
  (4808, 68663)	0.13162300781355527
  (4808, 37528)	0.11623533407973653
  (4808, 21195)	0.08258082775775756
  (4808, 30286)	0.1259579481250459
  (4808, 22062)	0.26324601562711053
  (4808, 29856)	0.1259579481250459
  (4808, 11178)	0.12765344673207302
  (4808, 6877)	0.2879071815490915
  (4808, 22040)	0.1490712450913256
  (4808, 16247)	0.12765344673207302
  (4808, 244)	0.13674066213033506
  (4808, 32076)	0.31256834747107254
  (4808, 9932)	0.31256834747107254
  (4808, 8142)	0.15628417373553627

In [ ]:
# Apply machine learning algorithm

# Method 1) Recommend with Unsupervised Learning
from sklearn.neighbors import NearestNeighbors

model = NearestNeighbors(n_neighbors=5, metric='cosine')
model.fit(vectors)

def recommend(movie):
    if movie not in joined_table["title"].values:
        print("Movie not found! Please enter a valid movie name.")
        print("Available movies:", list(joined_table["title"]))
        return
    
    movie_index = joined_table[joined_table['title'] == movie].index[0]
    distances, indices = model.kneighbors(vectors[movie_index])
    print(indices)

    for i in indices[0][1:]:
        print(joined_table.iloc[i].title)

movie = input('Please type a movie title for which you want recommendations.')
recommend(movie)

# Method 2) Recommend with Supervised Learning
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vectors)

def recommend(movie):
    movie_index = joined_table[joined_table["title"] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse = True , key = lambda x: x[1])[1:6]
    
    for i in movie_list:
        print(joined_table.iloc[i[0]].title)

recommend(movie)

[[   0 3607  539  151 1202]]
Apollo 18
Titan A.E.
Beowulf
Predators
Apollo 18
Titan A.E.
Beowulf
Predators
Jarhead